## Imports

In [1]:
import pandas as pd
import pdcast as pdc   # Firstly you should run 'pip install pandas-downcast'
import numpy as np

## Helper Functions

In [2]:

def df_optimize(df) :
        """Function to down cast pandas entries types into smaller versions in order to optimize space in the used dataframes
    returns the resulting dataframe
    """
        
        df = pdc.downcast(df)
        return df 

def df_optimize_path(df_path :str) :

    """Function to down cast pandas entries types into smaller versions in order to optimize space in the used dataframes
    returns the resulting dataframe
    """
 
    df = pd.read_csv(df_path)
    a =  df.memory_usage().sum()
    df = pdc.downcast(df)
    b = df.memory_usage().sum()
    print("Memory saved by : " ,((1-b/a) * 100),"%")
    
    return df

def is_unique_key(df : pd.DataFrame ,columnName : str) :

    """Function to check if column is a primary key in the given dataframe    
    returns true if the entry is primary key, false otherwise
    """

    x = df.shape[0]
    l = df[columnName].drop_duplicates().shape[0]

    return x == l  

def df_aggreg(df ,on ,aggreg_dict) : 
     """Function to do an aggregation on Dataframe columns on a specific function given in the aggreg_dict"""
     df = df.groupby(on).agg(aggreg_dict).reset_index()
     df.columns = [f'{col[0]}_{col[1].lower()}' if isinstance(col, tuple) else col.lower() for col in df.columns]
     df.rename(columns = {"sk_id_prev_": "sk_id_prev", "sk_id_curr_first" : "sk_id_curr","sk_id_curr_" : "sk_id_curr","sk_id_bureau_":"sk_id_bureau"},inplace=True)
     return df
     
      
def last(x) : 
    return x.iloc[-1]

## Loading and DownCasting of Dataset

In [3]:
loan_applications = df_optimize_path("Dataset/loan_applications_train.csv")
previous_credits = df_optimize_path("Dataset/previous_credits.csv")
credit_bureau_balance=df_optimize_path("Dataset/credit_bureau_balance.csv")
previous_pos_cash_loans=df_optimize_path("Dataset/previous_POS_cash_loans.csv")
previous_credit_cards=df_optimize_path("Dataset/previous_credit_cards.csv")
previous_loan_applications=df_optimize_path("Dataset/previous_loan_applications.csv")
repayment_history=df_optimize_path("Dataset/repayment_history.csv")

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  68.95278329052113 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  60.29361918216489 %
Memory saved by :  74.99992933437443 %
Memory saved by :  71.87492706070144 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  61.412981625109396 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  68.57983376450875 %

d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)
d:\Adnane\miniconda3\envs\LBD_CI1S1\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

Memory saved by :  62.499990525363394 %

## Searching for unique ID's (Primary Keys)

In [4]:
print(is_unique_key(loan_applications,"sk_id_curr"))  # True
print(is_unique_key(previous_loan_applications,"sk_id_prev")) # True
print(is_unique_key(previous_credits,"sk_id_bureau")) # True
print(is_unique_key(previous_credit_cards,"sk_id_curr")) # False
print(is_unique_key(previous_credit_cards,"sk_id_prev")) # False
print(is_unique_key(credit_bureau_balance,"sk_id_bureau")) # False
print(is_unique_key(previous_pos_cash_loans,"sk_id_prev")) # False
print(is_unique_key(repayment_history,"sk_id_curr")) #False

True
True
True
False
False
False
False
False

# Get Dummies

In [5]:
loan_applications = pd.get_dummies(loan_applications, columns=loan_applications.select_dtypes(include=['category']).columns)
previous_credits = pd.get_dummies(previous_credits, columns=previous_credits.select_dtypes(include=['category']).columns)
credit_bureau_balance = pd.get_dummies(credit_bureau_balance, columns=credit_bureau_balance.select_dtypes(include=['category']).columns)
previous_pos_cash_loans = pd.get_dummies(previous_pos_cash_loans, columns=previous_pos_cash_loans.select_dtypes(include=['category']).columns)
previous_credit_cards = pd.get_dummies(previous_credit_cards, columns=previous_credit_cards.select_dtypes(include=['category']).columns)
previous_loan_applications = pd.get_dummies(previous_loan_applications, columns=previous_loan_applications.select_dtypes(include=['category']).columns)
repayment_history = pd.get_dummies(repayment_history, columns=repayment_history.select_dtypes(include=['category']).columns)

In [7]:
print(loan_applications.columns.to_list())
print(previous_credits.columns.to_list())
print(credit_bureau_balance.columns.to_list())
print(previous_pos_cash_loans.columns.to_list())
print(previous_credit_cards.columns.to_list())
print(previous_loan_applications.columns.to_list())
print(repayment_history.columns.to_list())

['sk_id_curr', 'target', 'cnt_children', 'amt_income_total', 'amt_credit', 'amt_annuity', 'amt_goods_price', 'region_population_relative', 'days_birth', 'days_employed', 'days_registration', 'days_id_publish', 'own_car_age', 'flag_mobil', 'flag_emp_phone', 'flag_work_phone', 'flag_cont_mobile', 'flag_phone', 'flag_email', 'cnt_fam_members', 'region_rating_client', 'region_rating_client_w_city', 'hour_appr_process_start', 'reg_region_not_live_region', 'reg_region_not_work_region', 'live_region_not_work_region', 'reg_city_not_live_city', 'reg_city_not_work_city', 'live_city_not_work_city', 'ext_source_1', 'ext_source_2', 'ext_source_3', 'apartments_avg', 'basementarea_avg', 'years_beginexpluatation_avg', 'years_build_avg', 'commonarea_avg', 'elevators_avg', 'entrances_avg', 'floorsmax_avg', 'floorsmin_avg', 'landarea_avg', 'livingapartments_avg', 'livingarea_avg', 'nonlivingapartments_avg', 'nonlivingarea_avg', 'apartments_mode', 'basementarea_mode', 'years_beginexpluatation_mode', 'years_build_mode', 'commonarea_mode', 'elevators_mode', 'entrances_mode', 'floorsmax_mode', 'floorsmin_mode', 'landarea_mode', 'livingapartments_mode', 'livingarea_mode', 'nonlivingapartments_mode', 'nonlivingarea_mode', 'apartments_medi', 'basementarea_medi', 'years_beginexpluatation_medi', 'years_build_medi', 'commonarea_medi', 'elevators_medi', 'entrances_medi', 'floorsmax_medi', 'floorsmin_medi', 'landarea_medi', 'livingapartments_medi', 'livingarea_medi', 'nonlivingapartments_medi', 'nonlivingarea_medi', 'totalarea_mode', 'obs_30_cnt_social_circle', 'def_30_cnt_social_circle', 'obs_60_cnt_social_circle', 'def_60_cnt_social_circle', 'days_last_phone_change', 'flag_document_2', 'flag_document_3', 'flag_document_4', 'flag_document_5', 'flag_document_6', 'flag_document_7', 'flag_document_8', 'flag_document_9', 'flag_document_10', 'flag_document_11', 'flag_document_12', 'flag_document_13', 'flag_document_14', 'flag_document_15', 'flag_document_16', 'flag_document_17', 'flag_document_18', 'flag_document_19', 'flag_document_20', 'flag_document_21', 'amt_req_credit_bureau_hour', 'amt_req_credit_bureau_day', 'amt_req_credit_bureau_week', 'amt_req_credit_bureau_mon', 'amt_req_credit_bureau_qrt', 'amt_req_credit_bureau_year', 'name_contract_type_Cash loans', 'name_contract_type_Revolving loans', 'code_gender_F', 'code_gender_M', 'code_gender_XNA', 'flag_own_car_N', 'flag_own_car_Y', 'flag_own_realty_N', 'flag_own_realty_Y', 'name_type_suite_Children', 'name_type_suite_Family', 'name_type_suite_Group of people', 'name_type_suite_Other_A', 'name_type_suite_Other_B', 'name_type_suite_Spouse, partner', 'name_type_suite_Unaccompanied', 'name_income_type_Businessman', 'name_income_type_Commercial associate', 'name_income_type_Maternity leave', 'name_income_type_Pensioner', 'name_income_type_State servant', 'name_income_type_Student', 'name_income_type_Unemployed', 'name_income_type_Working', 'name_education_type_Academic degree', 'name_education_type_Higher education', 'name_education_type_Incomplete higher', 'name_education_type_Lower secondary', 'name_education_type_Secondary / secondary special', 'name_family_status_Civil marriage', 'name_family_status_Married', 'name_family_status_Separated', 'name_family_status_Single / not married', 'name_family_status_Unknown', 'name_family_status_Widow', 'name_housing_type_Co-op apartment', 'name_housing_type_House / apartment', 'name_housing_type_Municipal apartment', 'name_housing_type_Office apartment', 'name_housing_type_Rented apartment', 'name_housing_type_With parents', 'occupation_type_Accountants', 'occupation_type_Cleaning staff', 'occupation_type_Cooking staff', 'occupation_type_Core staff', 'occupation_type_Drivers', 'occupation_type_HR staff', 'occupation_type_High skill tech staff', 'occupation_type_IT staff', 'occupation_type_Laborers', 'occupation_type_Low-skill Laborers', 'occupation_type_Managers', 'occupation_type_Medicine staff', 'occupation_type_Private service staff', 'occupation_type_Realty agents', 'occupation_type_Sales staff', 'occupation_type_Secretaries', 'occupation_type_Security staff', 'occupation_type_Waiters/barmen staff', 'weekday_appr_process_start_FRIDAY', 'weekday_appr_process_start_MONDAY', 'weekday_appr_process_start_SATURDAY', 'weekday_appr_process_start_SUNDAY', 'weekday_appr_process_start_THURSDAY', 'weekday_appr_process_start_TUESDAY', 'weekday_appr_process_start_WEDNESDAY', 'organization_type_Advertising', 'organization_type_Agriculture', 'organization_type_Bank', 'organization_type_Business Entity Type 1', 'organization_type_Business Entity Type 2', 'organization_type_Business Entity Type 3', 'organization_type_Cleaning', 'organization_type_Construction', 'organization_type_Culture', 'organization_type_Electricity', 'organization_type_Emergency', 'organization_type_Government', 'organization_type_Hotel', 'organization_type_Housing', 'organization_type_Industry: type 1', 'organization_type_Industry: type 10', 'organization_type_Industry: type 11', 'organization_type_Industry: type 12', 'organization_type_Industry: type 13', 'organization_type_Industry: type 2', 'organization_type_Industry: type 3', 'organization_type_Industry: type 4', 'organization_type_Industry: type 5', 'organization_type_Industry: type 6', 'organization_type_Industry: type 7', 'organization_type_Industry: type 8', 'organization_type_Industry: type 9', 'organization_type_Insurance', 'organization_type_Kindergarten', 'organization_type_Legal Services', 'organization_type_Medicine', 'organization_type_Military', 'organization_type_Mobile', 'organization_type_Other', 'organization_type_Police', 'organization_type_Postal', 'organization_type_Realtor', 'organization_type_Religion', 'organization_type_Restaurant', 'organization_type_School', 'organization_type_Security', 'organization_type_Security Ministries', 'organization_type_Self-employed', 'organization_type_Services', 'organization_type_Telecom', 'organization_type_Trade: type 1', 'organization_type_Trade: type 2', 'organization_type_Trade: type 3', 'organization_type_Trade: type 4', 'organization_type_Trade: type 5', 'organization_type_Trade: type 6', 'organization_type_Trade: type 7', 'organization_type_Transport: type 1', 'organization_type_Transport: type 2', 'organization_type_Transport: type 3', 'organization_type_Transport: type 4', 'organization_type_University', 'organization_type_XNA', 'fondkapremont_mode_not specified', 'fondkapremont_mode_org spec account', 'fondkapremont_mode_reg oper account', 'fondkapremont_mode_reg oper spec account', 'housetype_mode_block of flats', 'housetype_mode_specific housing', 'housetype_mode_terraced house', 'wallsmaterial_mode_Block', 'wallsmaterial_mode_Mixed', 'wallsmaterial_mode_Monolithic', 'wallsmaterial_mode_Others', 'wallsmaterial_mode_Panel', 'wallsmaterial_mode_Stone, brick', 'wallsmaterial_mode_Wooden', 'emergencystate_mode_No', 'emergencystate_mode_Yes']
['sk_id_curr', 'sk_id_bureau', 'days_credit', 'credit_day_overdue', 'days_credit_enddate', 'days_enddate_fact', 'amt_credit_max_overdue', 'cnt_credit_prolong', 'amt_credit_sum', 'amt_credit_sum_debt', 'amt_credit_sum_limit', 'amt_credit_sum_overdue', 'days_credit_update', 'amt_annuity', 'credit_active_Active', 'credit_active_Bad debt', 'credit_active_Closed', 'credit_active_Sold', 'credit_currency_currency 1', 'credit_currency_currency 2', 'credit_currency_currency 3', 'credit_currency_currency 4', 'credit_type_Another type of loan', 'credit_type_Car loan', 'credit_type_Cash loan (non-earmarked)', 'credit_type_Consumer credit', 'credit_type_Credit card', 'credit_type_Interbank credit', 'credit_type_Loan for business development', 'credit_type_Loan for purchase of shares (margin lending)', 'credit_type_Loan for the purchase of equipment', 'credit_type_Loan for working capital replenishment', 'credit_type_Microloan', 'credit_type_Mobile operator loan', 'credit_type_Mortgage', 'credit_type_Real estate loan', 'credit_type_Unknown type of loan']
['sk_id_bureau', 'months_balance', 'status_0', 'status_1', 'status_2', 'status_3', 'status_4', 'status_5', 'status_C', 'status_X']
['sk_id_prev', 'sk_id_curr', 'months_balance', 'cnt_instalment', 'cnt_instalment_future', 'sk_dpd', 'sk_dpd_def', 'name_contract_status_Active', 'name_contract_status_Amortized debt', 'name_contract_status_Approved', 'name_contract_status_Canceled', 'name_contract_status_Completed', 'name_contract_status_Demand', 'name_contract_status_Returned to the store', 'name_contract_status_Signed', 'name_contract_status_XNA']
['sk_id_prev', 'sk_id_curr', 'months_balance', 'amt_balance', 'amt_credit_limit_actual', 'amt_drawings_atm_current', 'amt_drawings_current', 'amt_drawings_other_current', 'amt_drawings_pos_current', 'amt_inst_min_regularity', 'amt_payment_current', 'amt_payment_total_current', 'amt_receivable_principal', 'amt_recivable', 'amt_total_receivable', 'cnt_drawings_atm_current', 'cnt_drawings_current', 'cnt_drawings_other_current', 'cnt_drawings_pos_current', 'cnt_instalment_mature_cum', 'sk_dpd', 'sk_dpd_def', 'name_contract_status_Active', 'name_contract_status_Approved', 'name_contract_status_Completed', 'name_contract_status_Demand', 'name_contract_status_Refused', 'name_contract_status_Sent proposal', 'name_contract_status_Signed']
['sk_id_prev', 'sk_id_curr', 'amt_annuity', 'amt_application', 'amt_credit', 'amt_down_payment', 'amt_goods_price', 'hour_appr_process_start', 'nflag_last_appl_in_day', 'rate_down_payment', 'rate_interest_primary', 'rate_interest_privileged', 'days_decision', 'sellerplace_area', 'cnt_payment', 'days_first_drawing', 'days_first_due', 'days_last_due_1st_version', 'days_last_due', 'days_termination', 'nflag_insured_on_approval', 'name_contract_type_Cash loans', 'name_contract_type_Consumer loans', 'name_contract_type_Revolving loans', 'name_contract_type_XNA', 'weekday_appr_process_start_FRIDAY', 'weekday_appr_process_start_MONDAY', 'weekday_appr_process_start_SATURDAY', 'weekday_appr_process_start_SUNDAY', 'weekday_appr_process_start_THURSDAY', 'weekday_appr_process_start_TUESDAY', 'weekday_appr_process_start_WEDNESDAY', 'flag_last_appl_per_contract_N', 'flag_last_appl_per_contract_Y', 'name_cash_loan_purpose_Building a house or an annex', 'name_cash_loan_purpose_Business development', 'name_cash_loan_purpose_Buying a garage', 'name_cash_loan_purpose_Buying a holiday home / land', 'name_cash_loan_purpose_Buying a home', 'name_cash_loan_purpose_Buying a new car', 'name_cash_loan_purpose_Buying a used car', 'name_cash_loan_purpose_Car repairs', 'name_cash_loan_purpose_Education', 'name_cash_loan_purpose_Everyday expenses', 'name_cash_loan_purpose_Furniture', 'name_cash_loan_purpose_Gasification / water supply', 'name_cash_loan_purpose_Hobby', 'name_cash_loan_purpose_Journey', 'name_cash_loan_purpose_Medicine', 'name_cash_loan_purpose_Money for a third person', 'name_cash_loan_purpose_Other', 'name_cash_loan_purpose_Payments on other loans', 'name_cash_loan_purpose_Purchase of electronic equipment', 'name_cash_loan_purpose_Refusal to name the goal', 'name_cash_loan_purpose_Repairs', 'name_cash_loan_purpose_Urgent needs', 'name_cash_loan_purpose_Wedding / gift / holiday', 'name_cash_loan_purpose_XAP', 'name_cash_loan_purpose_XNA', 'name_contract_status_Approved', 'name_contract_status_Canceled', 'name_contract_status_Refused', 'name_contract_status_Unused offer', 'name_payment_type_Cash through the bank', 'name_payment_type_Cashless from the account of the employer', 'name_payment_type_Non-cash from your account', 'name_payment_type_XNA', 'code_reject_reason_CLIENT', 'code_reject_reason_HC', 'code_reject_reason_LIMIT', 'code_reject_reason_SCO', 'code_reject_reason_SCOFR', 'code_reject_reason_SYSTEM', 'code_reject_reason_VERIF', 'code_reject_reason_XAP', 'code_reject_reason_XNA', 'name_type_suite_Children', 'name_type_suite_Family', 'name_type_suite_Group of people', 'name_type_suite_Other_A', 'name_type_suite_Other_B', 'name_type_suite_Spouse, partner', 'name_type_suite_Unaccompanied', 'name_client_type_New', 'name_client_type_Refreshed', 'name_client_type_Repeater', 'name_client_type_XNA', 'name_goods_category_Additional Service', 'name_goods_category_Animals', 'name_goods_category_Audio/Video', 'name_goods_category_Auto Accessories', 'name_goods_category_Clothing and Accessories', 'name_goods_category_Computers', 'name_goods_category_Construction Materials', 'name_goods_category_Consumer Electronics', 'name_goods_category_Direct Sales', 'name_goods_category_Education', 'name_goods_category_Fitness', 'name_goods_category_Furniture', 'name_goods_category_Gardening', 'name_goods_category_Homewares', 'name_goods_category_House Construction', 'name_goods_category_Insurance', 'name_goods_category_Jewelry', 'name_goods_category_Medical Supplies', 'name_goods_category_Medicine', 'name_goods_category_Mobile', 'name_goods_category_Office Appliances', 'name_goods_category_Other', 'name_goods_category_Photo / Cinema Equipment', 'name_goods_category_Sport and Leisure', 'name_goods_category_Tourism', 'name_goods_category_Vehicles', 'name_goods_category_Weapon', 'name_goods_category_XNA', 'name_portfolio_Cards', 'name_portfolio_Cars', 'name_portfolio_Cash', 'name_portfolio_POS', 'name_portfolio_XNA', 'name_product_type_XNA', 'name_product_type_walk-in', 'name_product_type_x-sell', 'channel_type_AP+ (Cash loan)', 'channel_type_Car dealer', 'channel_type_Channel of corporate sales', 'channel_type_Contact center', 'channel_type_Country-wide', 'channel_type_Credit and cash offices', 'channel_type_Regional / Local', 'channel_type_Stone', 'name_seller_industry_Auto technology', 'name_seller_industry_Clothing', 'name_seller_industry_Connectivity', 'name_seller_industry_Construction', 'name_seller_industry_Consumer electronics', 'name_seller_industry_Furniture', 'name_seller_industry_Industry', 'name_seller_industry_Jewelry', 'name_seller_industry_MLM partners', 'name_seller_industry_Tourism', 'name_seller_industry_XNA', 'name_yield_group_XNA', 'name_yield_group_high', 'name_yield_group_low_action', 'name_yield_group_low_normal', 'name_yield_group_middle', 'product_combination_Card Street', 'product_combination_Card X-Sell', 'product_combination_Cash', 'product_combination_Cash Street: high', 'product_combination_Cash Street: low', 'product_combination_Cash Street: middle', 'product_combination_Cash X-Sell: high', 'product_combination_Cash X-Sell: low', 'product_combination_Cash X-Sell: middle', 'product_combination_POS household with interest', 'product_combination_POS household without interest', 'product_combination_POS industry with interest', 'product_combination_POS industry without interest', 'product_combination_POS mobile with interest', 'product_combination_POS mobile without interest', 'product_combination_POS other with interest', 'product_combination_POS others without interest']
['sk_id_prev', 'sk_id_curr', 'num_instalment_version', 'num_instalment_number', 'days_instalment', 'days_entry_payment', 'amt_instalment', 'amt_payment']

## Groupby and Aggregation

In [108]:
#Aggregation for previous_credit_cards
aggregations_prev_credit_cards = {
    'sk_id_curr': 'first',
    'months_balance': 'max',
    'amt_balance': 'max',
    'amt_balance': 'sum',
    'amt_credit_limit_actual': 'max',
    'amt_payment_current': 'mean',
    'amt_inst_min_regularity': 'mean',
    'sk_dpd_max': 'max',
    'sk_dpd_def': 'max'
}
aggregations_prev_pos_cash_loans = {
    'sk_id_curr': 'first',
    'months_balance': 'max',
    'cnt_instalment': 'mean',
    'cnt_instalment_future': 'sum',
    'sk_dpd': 'max',
    'sk_dpd_def': 'max',
    'name_contract_status_Active': 'sum', 
    'name_contract_status_Amortized debt': 'sum',
    'name_contract_status_Approved': 'sum',
    'name_contract_status_Canceled': 'sum',
    'name_contract_status_Completed': 'sum',
    'name_contract_status_Demand': 'sum',
    'name_contract_status_Returned to the store': 'sum',
    'name_contract_status_Signed': 'sum',
    'name_contract_status_XNA': 'sum'
}
aggregations_repayment_history = {
    'sk_id_curr': 'first',
    'num_instalment_version': 'nunique',
    'num_instalment_number': 'max',
    'days_instalment': ['min', 'max'],
    'days_entry_payment': ['min', 'max'],
    'amt_instalment': 'sum',
    'amt_payment': 'sum'
}
aggregations_credit_bureau_balance = {
    'months_balance': ['min', 'max'],
    'status_0': 'last',
    'status_1': 'last',
    'status_2': 'last',
    'status_3': 'last',
    'status_4': 'last',
    'status_5': 'last',
    'status_C': 'last',
    'status_X': 'last'
}
previous_credit_cards = df_aggreg(previous_credit_cards,"sk_id_prev",aggregations_prev_credit_cards)
print(is_unique_key(previous_credit_cards,"sk_id_prev"))

previous_pos_cash_loans = df_aggreg(previous_pos_cash_loans,"sk_id_prev",aggregations_prev_pos_cash_loans)
print(is_unique_key(previous_pos_cash_loans,"sk_id_prev"))

repayment_history = df_aggreg(repayment_history,"sk_id_prev",aggregations_repayment_history)
print(is_unique_key(repayment_history,"sk_id_prev"))

credit_bureau_balance = df_aggreg(credit_bureau_balance,'sk_id_bureau',aggregations_credit_bureau_balance)
print(is_unique_key(credit_bureau_balance,"sk_id_bureau"))

True
True
True
True

## Inplace merging and downcasting the results

In [109]:

section2 = pd.merge( previous_loan_applications,previous_credit_cards ,on = ["sk_id_prev","sk_id_curr"],how = "left")

print("First merge done")

section2 = pd.merge(section2,previous_pos_cash_loans ,on=["sk_id_prev","sk_id_curr"],how="left")

print("Second merge done")


section2 = pd.merge(section2,repayment_history,on=["sk_id_prev","sk_id_curr"],how='left')

print("Third merge done")

section2 = pd.merge(section2,previous_credits,on="sk_id_curr",how="left")

print("Fourth merge done")
print('Section Two merge Done')
print("___________________________")
print("Merging Section 2 with Section 3 ...")

section3 = pd.merge(section2,credit_bureau_balance,on="sk_id_bureau",how="left")

print("Fifth merge done")
print("___________________________")
print("Merging Section 1 with the other Sections ...")

section1 = pd.merge(loan_applications,section3,on="sk_id_curr",how="left")

print("Merge Complete")

First merge done
Second merge done
Third merge done
Fourth merge done
Section Two merge Done
___________________________
Merging Section 2 with Section 3 ...
Fifth merge done
___________________________
Merging Section 1 with the other Sections ...
Merge Complete

In [110]:
section1

,sk_id_curr,target,name_contract_type_x,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit_x,amt_annuity,...,amt_credit_sum,amt_credit_sum_debt,amt_credit_sum_limit,amt_credit_sum_overdue,credit_type,days_credit_update,amt_annuity_y,months_balance_min,months_balance_max,status_last
0,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,40761.0,NaN,NaN,0.0,Credit card,-1038.0,0.0,-36.0,-15.0,X
1,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.00000,NaN,0.0,Credit card,-47.0,NaN,-15.0,0.0,0
2,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,135000.0,0.00000,0.0,0.0,Consumer credit,-1185.0,0.0,-47.0,-32.0,X
3,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,19071.0,NaN,NaN,0.0,Consumer credit,-906.0,0.0,-36.0,-21.0,X
4,100002,True,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,120735.0,0.00000,0.0,0.0,Consumer credit,-34.0,0.0,-21.0,-18.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8044095,456255,False,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,436032.0,363573.53125,0.0,0.0,Consumer credit,-25.0,0.0,-11.0,0.0,X
8044096,456255,False,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,450000.0,191005.46875,0.0,0.0,Consumer credit,-55.0,3244.5,-14.0,0.0,X
8044097,456255,False,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,900000.0,NaN,NaN,0.0,Consumer credit,-781.0,0.0,-49.0,-17.0,X
8044098,456255,False,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,38925.0,NaN,NaN,0.0,Credit card,-779.0,3244.5,-76.0,-44.0,X
8044099,456255,False,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,450000.0,NaN,NaN,0.0,Consumer credit,-1621.0,0.0,-76.0,-42.0,X